%BtnStyle {
  color: var(--color-accent-alt);
  background-color: var(--color-bg-main);
  border: var(--border);
  transition: var(--transition-duration);
}

.Email {
  &Wrapper {
    display: flex;
    justify-content: center;
  }

  &Form {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: rem(10);
    border-radius: rem(20);
    border: var(--border);
    gap: rem(10);
  }

  &Action {
    display: flex;
  }

  &Btn {
    @extend %BtnStyle;

    border-radius: rem(20);

    &Code {
      border-radius: rem(10);
      @extend %BtnStyle;
    }

    @include hover {
      transform: translateY(-3px);
    }
  }
}
