.MainLayout {
  @include mixinContainer;
  display: grid;
  grid-template-columns: minmax(100px, 250px) 1fr 350px;

  margin: 0 auto;
  background-color: var(--color-bg-main);
  height: 100vh;

  @media (max-width: 1200px) {
    grid-template-columns: minmax(100px, 100px) 1fr 350px;
  }

  @include tablet {
    grid-template-columns: minmax(100px, 100px) 1fr;
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;

    footer {
      grid-column: 1 / -1;
    }

    main {
      grid-column: 1 / -1;
      min-width: 0;
    }
  }

  > main {
    border-left: var(--border);
    border-right: var(--border);
  }
}
