.MainLayout {
  @include mixinContainer;
  display: grid;
  grid-template-columns: 250px minmax(0, 2fr) 350px;

  margin: 0 auto;
  background-color: var(--color-bg-main);
  height: 100vh;

  @include tablet {
    grid-template-columns: 1fr minmax(0, 2fr);
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    footer {
      grid-column: 1 / -1;
      height: 200px;
    }

    main {
      grid-column: 1 / -1;
      min-width: 0;
    }
  }

  > main {
    border-left: var(--border);
    border-right: var(--border);
  }
}
