.Header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &Body {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    transition: all 0.3s ease;
  }

  &Nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: rem(5);

    a {
      text-decoration: none;
      color: inherit;
    }
    &Item {
      & > svg {
        @include square(rem(26));
      }
      transition-duration: var(--transition-duration);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(20);
      border-radius: 9999px;
      padding: rem(12);
      height: rem(50);
      transition:
        transform 0.3s ease,
        opacity 0.3s ease;

      @include hover {
        background-color: var(--color-hover);
      }

      &Active {
        h2 {
          font-weight: 800;
        }
        > svg {
          transform: scale(1.1);
          filter: drop-shadow(0 0 4px white);
          transform: rotate(5deg) scale(1.1);
        }
      }

      > h2 {
        transition:
          transform 0.3s ease,
          opacity 0.3s ease;
      }

      @media (max-width: 1200px) {
        > h2 {
          transform: translateX(-100%);
          opacity: 0;
          pointer-events: none;
          width: 0;
          height: 0;
          position: absolute;
        }
      }
    }
  }

  &User {
    border-radius: rem(40);
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: rem(60);
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color-bg-alt);
    margin-bottom: 5px;
    align-items: center;

    @media (max-width: 1200px) {
      width: 100%;
      justify-content: center;
    }

    &Info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 1200px) {
        transform: translateX(-100%);
        opacity: 0;
        pointer-events: none;
        width: 0;
        height: 0;
      }
    }
  }

  &Action {
    display: flex;
    gap: rem(10);

    @media (max-width: 1200px) {
      flex-direction: column;
      gap: rem(10);
    }

    &LogOut {
      @include square(rem(20));
    }

    &Spin {
      animation: spin 2s linear infinite;

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}
