.Header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &Body {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }

  &Nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: rem(5);

    a {
      text-decoration: none;
      color: inherit;
    }
    &Item {
      & > svg {
        @include square(rem(26));
      }
      transition-duration: var(--transition-duration);
      display: flex;
      align-items: center;
      gap: rem(20);
      border-radius: 9999px;
      padding: rem(12);
      height: rem(50);

      @include hover {
        background-color: var(--color-hover);
      }

      &Active {
        h2 {
          font-weight: 700;
        }
        > svg {
          stroke: white;
          fill: none;

          > path:first-child {
            fill: white;
          }
        }
      }
    }
  }

  &User {
    border-radius: rem(40);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: rem(60);
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color-bg-alt);
    margin-bottom: 5px;
    align-items: center;

    &Info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &Spin {
      animation: spin 2s linear infinite;

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}
