%FrSection {
  display: flex;
  flex-direction: column;
  border-bottom: var(--border);
}

.Friends {
  &Head {
    @extend %FrSection;

    &Promo {
      all: unset;
      display: flex;
      padding-block: rem(10);
      align-items: center;
      gap: rem(10);
      border-bottom: var(--border);
      padding-left: rem(5);
      cursor: pointer;
      background-color: var(--color-bg-main);
      color: var(--color-accent);
      padding-block: rem(10);
      padding-left: rem(5);

      &:focus {
        outline: none;
      }
      &:focus-visible {
        outline: none;
      }
    }

    &Notification {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition:
        max-height 0.1s ease,
        opacity var(--transition-duration) ease;

      &.isActive {
        max-height: 500px;
        opacity: 1;
        padding-block: rem(10);
        overflow-y: auto;
      }
    }
  }

  &Sended {
    @extend %FrSection;

    &Promo {
      all: unset;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: rem(10);
      border: none;
      border-bottom: var(--border);
      padding-block: rem(10);
      padding-left: rem(5);
      background-color: var(--color-bg-main);
      color: var(--color-accent);

      &:focus {
        outline: none;
      }
      &:focus-visible {
        outline: none;
      }
    }

    &Notification {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition:
        max-height 0.1s ease,
        opacity var(--transition-duration) ease;

      &.isActive {
        max-height: 500px;
        opacity: 1;
        padding-block: rem(10);
        overflow-y: auto;
      }
    }
  }

  &Arrow {
    transition: transform 0.3s ease;
    @include square(rem(20));

    &.isActive {
      transform: rotate(180deg);
    }
  }

  &Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: rem(10);
  }
}
