.Header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &Body {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    transition: all 0.3s ease;
  }

  &Settings {
    &.HeaderNavItemActive {
      svg {
        animation: spin 2s linear infinite;

        @keyframes spin {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  &Nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: rem(5);

    a {
      text-decoration: none;
      color: inherit;
    }
    &Item {
      & > svg {
        @include square(rem(26));
      }
      transition-duration: var(--transition-duration);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(20);
      border-radius: 9999px;
      padding: rem(12);
      height: rem(50);
      transition:
        transform 0.3s ease,
        opacity 0.3s ease;

      @include hover {
        background-color: var(--color-hover);
      }

      &Active {
        h2 {
          font-weight: 800;
        }
        > svg {
          transform: scale(1.1);
          filter: drop-shadow(0 0 4px white);
          transform: rotate(5deg) scale(1.1);
        }
      }

      > h2 {
        transition:
          transform 0.3s ease,
          opacity 0.3s ease;
      }

      @media (max-width: 1200px) {
        > h2 {
          transform: translateX(-100%);
          opacity: 0;
          pointer-events: none;
          width: 0;
          height: 0;
          position: absolute;
        }
      }
    }
  }

  &User {
    border-radius: rem(40);
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: rem(60);
    align-items: center;

    @media (max-width: 1200px) {
      width: 100%;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      padding-left: rem(5);
      gap: rem(10);
      background-color: var(--color-bg-main);
    }

    &Block {
      display: flex;
      justify-content: center;
      gap: rem(5);
    }

    &Wrap {
      @include square(rem(40));
      position: relative;
    }

    &Avatar {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }

    &Info {
      display: flex;
      flex-direction: column;

      @media (max-width: 1200px) {
        transform: translateX(-100%);
        opacity: 0;
        pointer-events: none;
        width: 0;
        height: 0;
      }

      &Id {
        color: var(--color-muted);
      }
    }
  }

  &OnlineDot {
    position: absolute;
    top: 0px;
    left: 80%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f44336;
    box-shadow: 0 0 4px #f44336;
    animation: pulse 1.5s infinite;

    @keyframes pulse {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      50% {
        transform: scale(1.4);
        opacity: 0.7;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }

    &.isActive {
      background-color: #4caf50; // 🟢 зелёный при активе
      box-shadow: 0 0 4px #4caf50;
    }
  }

  &Action {
    display: flex;
    gap: rem(10);
    position: relative;
    align-items: center;
    padding: 10px;
  }
  &LogOut {
    @include square(rem(20));
    grid-area: LogOut;
  }
}
